@model PersonViewModel
@{
    ViewData["Title"] = "Person List";
}


<div class="container">
    <h3 class="mb-3">Person List</h3>

    <div class="d-flex justify-content-start w-25 mb-2">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="ElasticSearchCreateIndex()">Elastic Create</button>
    </div>

    <div class="d-flex justify-content-end w-25 float-right mb-2">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="searchValue">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" onclick="ElasticSearchName()">Search</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody id="tableTbody">
            @foreach (var item in Model.Persons)
            {
                <tr>
                    <th scope="row">
                        <img src="@item.ImagePath" alt="image" width="100" height="100">
                    </th>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.Email</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>
    function ElasticSearchName() {
        var searchValue = $("#searchValue").val()
        var tbody = $("#tableTbody");
        var settings = {
            "url": "@Url.Action("PersonSearch", "Home")" + "?searchValue=" + searchValue,
            "method": "Get",
            "timeout": 0,
        };
        $.ajax(settings).done(function (response) {
            var tbodyHtml = "";
            for (i = 0; i < response.length; ++i) {
                tbodyHtml += '<tr><th scope="row"><img src="' + response[i].imagePath + '" alt="image" width="100" height="100"></th><td>' + response[i].firstName + '</td><td>' + response[i].lastName + '</td><td>'+response[i].email+'</td></tr>'
            }
            tbody.html(tbodyHtml);
        });
    }
    function ElasticSearchCreateIndex() {
        var settings = {
            "url": "@Url.Action("ElasticSearchCreateIndex", "Home")",
            "method": "Get",
            "timeout": 0,
        };
        $.ajax(settings).done(function (response) {

        });
    }
    
</script>